{{ range $idx, $experience := $.Site.Params.experiences }}
  {{ with .markdown }}
    {{ with $.Site.GetPage . }}
      <div id="{{ .Path }}" class="popup-hidden popup" onclick="hidePopup(this)">
        <div class="px-4 container-lg new-discussion-timeline popup-content rounded-3" onclick="event.stopPropagation();">
          <div class="gisthead pagehead bg-gray-light pb-0 mb-4" style="border: 0;">
            <div class="">
              <div class="mb-3 d-flex">
                <div class="flex-auto min-width-0 width-fit mr-3">
                  <div class="d-flex flex-items-center">
                    <div class="d-none d-md-block">
                      <img class="avatar mr-2 flex-shrink-0 " src="{{ $experience.logo }}" height="40">
                    </div>
                    <div class="d-flex flex-column">
                      <h1 class="break-word f3 text-normal mb-md-0 mb-1" style="min-height: 0px">
                        <span class="author"><a href="{{ $experience.company_url }}"> {{ $experience.company }} </a></span>
                        <span class="path-divider">/</span>
                        <strong class="css-truncate-target mr-1" style="max-width: 410px"><a>
                          {{ $experience.position }}
                        </a></strong>
                      </h1>
                      <div class="note m-0"> {{ $experience.duration }} </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-lgnew-discussion-timeline">
            <div class="repository-content gist-content">
              <div>
                <div class="js-gist-file-update-container js-task-list-container file-box">
                  <div id="file-pytest" class="file my-2">
                    <div id="post-header" class="file-header d-flex flex-md-items-center flex-items-start sticky-header" style="z-index: 2">
                      <div class="file-info d-flex flex-md-items-center flex-items-start flex-order-1 flex-auto">
                        <div class="text-mono f6 flex-auto pr-3 flex-order-2 flex-md-order-1 mt-2 mt-md-0">
                          
                          <summary id="toc-toggle" onclick="clickToc()" class="btn btn-octicon m-0 mr-2 p-2">
                            <svg aria-hidden="true" viewBox="0 0 16 16" height="16" width="16" class="octicon octicon-list-unordered">
                              <path fill-rule="evenodd" d="M2 4a1 1 0 100-2 1 1 0 000 2zm3.75-1.5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zm0 5a.75.75 0 000 1.5h8.5a.75.75 0 000-1.5h-8.5zM3 8a1 1 0 11-2 0 1 1 0 012 0zm-1 6a1 1 0 100-2 1 1 0 000 2z"></path>
                            </svg>
                          </summary>
                          <details-menu class="SelectMenu" id="toc-details" style="display: none;">
                            <div class="SelectMenu-modal rounded-3 mt-1" style="max-height: 340px;">
                              <div class="SelectMenu-list SelectMenu-list--borderless p-2" style="overscroll-behavior: contain;" id="toc-list">
                              </div>
                            </div>
                          </details-menu>
                          {{ countwords .Content }} Words
                        </div>
                      </div>
                    </div>
                    <div class="Box-body px-5 pb-5" style="z-index: 1">
                      <article class="markdown-body entry-content container-lg">
                        {{- .Content -}}
                      </article>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}

<script>
  function showPopup(elem) {
    const dataPath = elem.getAttribute("data-path");
    const path = dataPath[0] === "/" ? dataPath.slice(1) : dataPath;
    console.log({path});
    var file = document.getElementById(`${path}`);
    console.log({path});
    
    file.classList.remove("popup-hidden");

    document.body.style.overflow = "hidden";
  }

  function hidePopup(elem) {
    elem.classList.add("popup-hidden");
    document.body.style.overflow = "auto";
  }
</script>

<script type="application/javascript" src='{{ "js/toc.js" | absURL }}'></script>
<link rel="stylesheet" href='{{ "css/toc.css" | absURL }}' />

<style>
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    z-index: 10;

    /* ? For Debugging */
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .popup-hidden {
    display: none;
  }

  .popup-content {
    position: relative;
    height: 90%;
    width: 90%;
    max-width: 700px;
    background-color: var(--color-bg-canvas);

    overflow: scroll;
  }

  @media (max-width: 768px) {
    .popup-content {
      width: 100%;
      height: 100%;
      max-width: 100%;
      display: none;
    }

    .popup {
      display: none;
    }
  }
</style>